/* Fonts */

$font--primary-regular: Helvetica, sans-serif;

/* Fixed sizes */

$header-height: 60px;

/* Colors */

$color--primary: #0F2B49;
$color--primary-light: #174371;

$color--secondary: #333;

$color--white: #fff;
$color--gray-light: #fafafa;
$color--gray: #cdcdcd;
$color--gray-dark: #4e4d4d;
$color--black: #000;

/* Box-shadow */

$box-shadow: 0px 5px 32px 0px rgba(0, 0, 0, 0.21);

/* Spacing */

$spacing--smallest: 6px;
$spacing--smaller: 12px;
$spacing--small: 18px;
$spacing: 24px;
$spacing--large: 36px;
$spacing--larger: 48px;

/* Breakpoints */
