/* Fonts */

$font--primary-regular: 'Cousine', Helvetica, sans-serif;

/* Fixed sizes */

$header-height: 60px;

/* Colors */

$color-primary: #0F2B49;
$color-primary--light: #174371;

$color-secondary: #333;

$color-white: #fff;
$color-gray-light: #fafafa;
$color-gray: #e6e6e6;
$color-gray-dark: #4e4d4d;
$color-black: #000;

/* Box-shadow */

$box-shadow: 0px 5px 32px 0px rgba(0, 0, 0, 0.21);

/* Spacing */

$spacing--smallest: 6px;
$spacing--smaller: 12px;
$spacing--small: 18px;
$spacing: 24px;
$spacing--large: 50px;
$spacing--larger: 70px;

/* Container widths */

$container--wide: 1200px;

/* Breakpoints */
