.block {
  width: 100%;
  padding-left: $spacing;
  padding-right: $spacing;
  display: block;

  &.--full {
    width: 100%;
    padding: 0;
  }

  &.--mt {
    margin-top: $spacing--large;
  }

  &.--mt-minus {
    margin-top: -$spacing--large;
  }

  &.--mb {
    margin-bottom: $spacing--large;
  }

  &.--pt {
    padding-top: $spacing--large;
  }

  &.--pb {
    padding-bottom: $spacing--large;
  }

}
