/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $color-white;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.--no-scroll {
    overflow: hidden;
  }
}

body,
.smooth-container {
  scroll-behavior: smooth;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}
