.button {
  padding: $spacing--small $spacing;
  margin-left: $spacing--small;
  font-family: $font-secondary;
  text-transform: uppercase;
  text-align: center;
  outline: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  border-radius: 300px;
  border: 0;
  background: $color-primary;
  color: white;
  transition: box-shadow 0.2s ease;

  &:first-of-type {
    margin-right: 0px;
    margin-left: 0px;
  }

  &:hover {
    background: $color-primary--light;
    box-shadow: $box-shadow;
    color: $color-white;
    text-decoration: none;
    transition: box-shadow 0.2s ease;
  }

  @media(min-width: $desktop) {
    padding: $spacing--small $spacing;
    font-size: 13px;
  }

  &.--disabled {
    background-color: $color-gray;
    color: $color-gray-dark;
  }

  &.--small {
    padding: 12px $spacing--small;
  }

  &.--large {
    padding: $spacing $spacing--large;
  }

  &.--full {
    display: block;
    margin-right: 0;
    width: 100%;
  }

  &.--white {
    background: $color-white;
    color: $color-primary;
  }

  &.--outline {
    background: $color-white;
    border: 2px solid $color-primary;
    color: $color-primary;

    &:hover {
      background: $color-primary--light;
      color: $color-white;
      border: 2px solid $color-primary--light;
    }
  }
}
