.hero {
  position: relative;
  transition: background-image 0.2s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  color: $color-primary;

  @media (min-width: $desktop) {

  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: 0;
    z-index: -1;
    transform: skewY(-7deg);
    background: linear-gradient(150deg,#b4d6e5 15%,#ccbce6 70%,#e4cded 94%);

    @media (min-width: $desktop) {
      height: calc(100% + #{$spacing});
    }
  }

  &__wrapper {
    max-width: $container--wide;
    float: left;
    width: 100%;
    height: calc(100% + 50px);
    margin: 0 auto;
    z-index: 2;
    padding: $spacing;
    padding-top: $header-height + $spacing--large + 20px;
    margin-bottom: $spacing--large;
  }

  &__title {
  }

  &__intro h3 {
    font-weight: 400;
  }

}
