.container {
  max-width: $container;
  margin: 0 auto;

  &.--wide {
    max-width: $container--wide;
    margin: 0 auto;
  }

}

.col {
  display: block;
  float: left;

  &.--main {
    width: 100%;
    padding-right: 0;

    @media (min-width: $desktop) {
      width: 60%;
      padding-right: $spacing;
    }

  }

  &.--half {
    width: 100%;
    padding-right: 0;

    @media (min-width: $desktop) {
      width: 50%;
      padding-right: $spacing;
    }
  }

  &.--sidebar {
    width: 100%;
    float: left;

    @media (min-width: $desktop) {
      width: 40%;
      float: right;
    }
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
