/* Fonts */

$font-primary: 'Lora', Helvetica, sans-serif;
$font-secondary: 'Muli', Helvetica, sans-serif;

/* Fixed sizes */

$header-height: 60px;

/* Colors */

$color-primary: #4d2482;
$color-primary--light: #7f289e;

$color-secondary: #1f3285;

$color-white: #fff;
$color-gray-light: #fafafa;
$color-gray: #e6e6e6;
$color-gray-dark: #4e4d4d;
$color-black: #000;

/* Box-shadow */

$box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);

/* Spacing */

$spacing--smallest: 6px;
$spacing--smaller: 12px;
$spacing--small: 18px;
$spacing: 24px;
$spacing--large: 50px;
$spacing--larger: 70px;

/* Breakpoints */

$desktop: 1024px;

/* Widths and heights */

$container: 690px;
$container--wide: 1200px;

$header-height: 71px;

/* Breakpoints */
