/* Fonts */

$font-primary: 'Lora', Helvetica, sans-serif;
$font-secondary: 'Muli', Helvetica, sans-serif;

/* Fixed sizes */

$header-height: 60px;

/* Colors */

$color-primary: #4d2482;
$color-primary--light: #7f289e;
$color-primary--lighter: #e6cfee;

$color-secondary: #1f3285;

$color-white: #fff;
$color-gray-light: #fafafa;
$color-gray: #eee;
$color-gray-dark: #838383;
$color-black: #000;

$color-gradient: linear-gradient(150deg, #ecf6fb 15%, #f5efff 70%, #f5e4fb 94%);

/* Box-shadow */

$box-shadow: rgba(34, 23, 99, 0.13) 0 7px 40px;
$border-radius: 5px;

/* Spacing */

$spacing--smallest: 6px;
$spacing--smaller: 12px;
$spacing--small: 18px;
$spacing: 24px;
$spacing--large: 50px;
$spacing--larger: 70px;
$spacing--largest: 120px;

/* Breakpoints */

$desktop: 1024px;

/* Widths and heights */

$container: 950px;
$container--wide: 1200px;
$container--narrow: 650px;

$header-height: 71px;
